:root {
    --main-color: rgb(0, 137, 186);
    --secondary-color: #ffffff;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 35px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
    background-color: var(--main-color);
    box-sizing: border-box;
}

.btn:hover {
    opacity: 0.7;
}

/* カラーバリエーション */
.btn-primary {
    background-color: var(--main-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

/* 無効化 */
.btn-disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

/* アイコン用 */
/* .btn-icon {
    display: flex;
    align-items: center;
} */